/* dom.html */

.thought {
  margin: 0 auto;
  width: 400px;
  text-align: center;
}

.thought-push {
  background-color: skyblue;
  letter-spacing: 1px;
}

.key-image {
  border-bottom: 1px solid gray;
  width: 300px;
  display: flex;
  justify-content: space-around;
}

.key {
  text-align: center;
}

.key-push {
  color: red;
}

.pic {
  width: 30px;
  height: 30px;
  background-image:url("https://cdn.icon-icons.com/icons2/1506/PNG/512/emblemok_103757.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  top: 15px;
}